@media (min-width: 200px) and (max-width: 766px) {

    .carrusel-home {
        text-align: -webkit-center;
        padding-top: 219px !important;
    }
    .background-seccion-2 {
         margin-top: 0px !important;
    }
 
}
