
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.fila-blog{
    padding-left: 80px;
    padding-right: 80px;
}
#offer-cards .vueperslides__inner .vueperslides__parallax-wrapper {
    padding-bottom: 520px!important;
    padding-top: 40px;
}

.high-plans-color {
    color: rgba(83, 83, 83, 1);
}

.high-plans-title:after {
    display: block;
    padding-top: 5px;
    content: '';
    border-bottom: solid 3.5px rgba(205, 205, 205, 1);
    border-radius: 5px;
    transform: scaleX(0.25);
    transition: transform 250ms ease-in-out;
}

.high-plans-carousel {
    width: 80vw;
}

.offer-card {
    width: 250px;
    /* height:480px;*/
    border-radius: 24px;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid 2px;
    border-color: #00c2d6;
}

@media(max-width:450px) {
    .offer-card {
        /* width: 260px;*/
    }
}

.offer-card-lg {
    width: 60vw;
    height: auto;
    border-radius: 40px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(30, 30, 30, 0.35);
    -moz-box-shadow: 0px 0px 24px 0px rgba(30, 30, 30, 0.35);
    box-shadow: 0px 0px 24px 0px rgba(30, 30, 30, 0.35);
}
.titulo-seccion4{
    font-size: 2.1em;
    font-family: Poppins;
    color: #055a76;
    font-weight: 700;
    margin-top:  -84px;
}
.contenedor-seccion4{
    padding-left: 157px;
    padding-right: 160px;
}
.parrafos-seccion4{
    text-align: justify;
    padding: 20px;
    margin-left: -12px;
    margin-top: -25px;
    font-family: Poppins;
        color: #60605e;
  
}

@media(max-width:768px) {
    .fila-blog{
        padding-left: 10px;
        padding-right:10px;
    }

    .seccion-blog{
        margin-top: 381px;
        padding: 10px;
    }
    .parrafos-seccion4{
        text-align: justify;
        padding: 20px;
        font-size: 0.8em;
        line-height: 106%;
        margin-left: 0px;
        margin-top: 0px;
    }
    
    .titulo-seccion4{
        font-size: 0.9em;
        font-family: Poppins, sans-serif;
        color: #055a76;
        font-weight: 700;
    }
    .contenedor-seccion4{
        font-size: 1.7em;
       padding: 15px;
        text-align: -webkit-center;

    }
    .imagen-seccion3 {
        width: 40% !important; 
      
        }
    .offer-card-lg {
        width: 80vw;
    }
}

.offer-card-header {
    flex-flow: column;
    padding: 1.2rem;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-card-separator {
    width: 80%;
    /*  height: 1px;*/
    background: rgb(0, 194, 214);
}

.offer-card-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: $dark-blue;
}

.offer-card-title {
   /* background: rgb(0, 255, 218);
    background: linear-gradient(90deg, rgba(0, 255, 218, 1) 0%, rgba(6, 209, 252, 1) 100%);*/
    margin-top: -5px;
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 600;
    color: #042c44;
    font-size: 0.9em;
}

.rounded-pill {
    border-radius: 5px !important;
}

.offer-card-benefits {
    margin-bottom: .5rem;
    font-size: 1rem;
    height: 90px;
    overflow-y: visible;
}

.offer-card-logo {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.offer-card-price {
    font-size: 33px;
    word-break: break-all;
    font-family: "Heebo", sans-serif;
    margin-top: -20px;
    color: #434040;
}

.offer-card-footer {
    display: flex;
    padding: 0 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
}

.offer-card-btn {
    font-size: 15px;
    color: white;
    font-family: 'Heebo';
    font-weight: bold;
    margin-top: -20px;
}

.imagen-seccion3 {
    width: 16%; 
    max-width: 345px;
    padding: 13px;
    }


    ///////////////////////////////SNIPPETS///////////////////////////////////////////////

    .wrap {
        display: flex;
        background: #ecece9;
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 0.5rem;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        margin-bottom: 2rem;
        font-family: Poppins;
        color: #60605e;
        text-align: justify;
        border-radius: 15px;
        border-radius: 15px;
        padding: 12px;
    }
    /*
    .wrap:hover {
        background: linear-gradient(135deg,#6394ff 0%,#0a193b 100%);
        color: white;
    }*/
    .ico-wrap {
        margin: auto;
        color: #0099ed;
    }
    
    .mbr-iconfont {
        font-size: 4.5rem !important;
        color: #313131;
        margin: 1rem;
        padding-right: 1rem;
    }
    .vcenter {
        margin: auto;
    }
    
    .mbr-section-title3 {
        text-align: left;
    }
    h2 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .display-5 {
        font-family: Poppins, sans-serif !important;
        color: #0099ed !important;
        font-size: 1.4rem;
    }
    .mbr-bold {
        font-weight: 700;
    }
    
     p {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        line-height: 25px;
    }
    .display-6 { 
        font-family: Poppins, sans-serif;      
        font-size: 1rem;
        line-height: 136%;
    }
    .titulos-generales{
        font-size: 1.6rem !important;
    }
    .card-precios-nuevos{
        font-family: Poppins, sans-serif;
          padding-bottom: 4px !important; 
           color: rgb(20, 91, 119);
            font-weight: 600;
              font-size: 2.5em;
    }