.text-main-blue{
    color:$main-blue;
}

.text-dark-blue{
    color: $dark-blue;
    padding-top: 30px;
}


.text-ws{
   font-family: 'poppins-regular';
   font-size: 16px !important;
    font-weight: 100 !important;
    color: #515151 !important;
}

.text-ws1{
    font-family: 'poppins-regular';
    font-size: 16px !important;
     font-weight: 100 !important;
     color: rgb(214, 216, 219) !important;
 }
.columna-footer-central{
    margin-top: 3.9rem!important;
    text-align: center;
}


.text-heebo{
    font-family: 'poppins-regular';
}
.text-dark-gray{
    color: $dark-gray;
}

.company-card-label{
    height: 90px;
}

.texto-form-footer{
    color: rgb(214, 216, 219) !important;
    font-family: 'poppins-regular' !important;
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 0px !important;




}

@media (max-width:768px){
    .columna-footer-central{
        margin-top: 0.5rem!important;
    }
    .company-card-label{
        height: 100px;
    }
}

.text-wrap {
    word-break: break-word;
  
}

.text-wrap-all {
    word-break: break-all;
    
}

@media(min-width:1000px){

    .offers-label{
        font-size: .8rem!important;
    }
    
}


.text-item-list{
    font-size: 1.25rem;
    font-weight: bold;
    font-family: "Work Sans", sans-serif;
    color: #D6D8DB;
}
.text-item-list a{
    font-size: 0.8rem;
    font-weight: bold;
    font-family: "Work Sans", sans-serif;
    text-transform: uppercase;
    color: #D6D8DB;
}
.offer-table-label{
    font-size: .7rem;
    background-color: transparent;
}
.text-tabla-detalles{
    color:#00c2d6;
    font-size: 0.9rem;
    font-family: 'Heebo';
    font-weight: 600;
}

.offer-table-price{
    font-size: 1.2rem;
}

