// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Heebo', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$main-blue: rgb(0,194,214);
$dark-blue: #13293d;
$middle-blue: #006494;
$secondary-blue: #247ba0;

$main-pink:#ec008c;

$main-gray: #e6e6e6;
$mid-gray: #cdcdcd;
$dark-gray: #9b9b9b;

$white: #e8f1f2;

$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
