// Fonts


@font-face{
    font-family: poppins-regular;
    src: url("./../assets/fonts/Poppins-Regular.otf");
}

@font-face{
    font-family: poppins-medium;
    src: url("./../assets/fonts/Poppins-Medium.otf");
}
@font-face{
    font-family: poppins-semibold;
    src: url("./../assets/fonts/Poppins-SemiBold.otf");
}
@font-face{
    font-famili: poppins-regular;
    src: url("./../assets/fonts/Poppins-Bold.otf");
}




// Variables
@import 'variables';
@import 'images';
@import 'btns';
@import 'headers';
@import "backgrounds";
@import "layout";
@import "items";
@import "buttons";
@import "highcompanies";
@import "highplans";
@import "nosotros";
@import "contacto";
@import "footer";
@import "planComparator";
@import "responsive";
@import "forms";
@import "texts";
@import "counters";
@import "whatsapp";
@import "buscador";
@import"contador";
@import"formulario-centro";
@import"periquitos";
@import"homeNew";
@import"blog";
@import"formyslider";
@import"carousel";
// Bootstrap
//@import '~bootstrap/scss/bootstrap';









body{
    scroll-behavior: smooth;
    word-break: break-word;    
    box-sizing: content-box;
}
h1,h2,h3,h4,h5,h6{
     font-family: poppins-regular;
     color: $dark-blue;
}


